:root{
    --blue: #0D3273;
    --pink: #C10077;
    --grey: #E2E2E2;
    --purple: #7B0E72;

}

h2{
    /* reset css */
    margin: 0;
    padding: 0;
 
}

.welcome-heading{
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    font-size: x-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.home-heading {
    text-align: center;
    margin-top: 5vh;
    font-weight: lighter;
    font-size: x-large;
    border-bottom: 3px solid var(--blue);
    padding-bottom: 10px;
    
    
}

.home-heading-three{
    font-weight: bold;
    font-size:medium;
}

.padding-grid-home{

    padding: 5%;
    margin-left: 15%;
    padding-top: 2%;
    padding-bottom: 0%;

}

.scrollable-grid {
    max-height: 93vh; 
    overflow-y: auto; 
    
  }

.grid-container-home{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    min-height: 60vh;
    min-width: none;
    gap: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
   

}

.grid-container-home-technician{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    min-height: 60vh;
    min-width: none;
    gap: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
   

}



.homep{
    font-size: 90%;

    background: rgb(255, 255, 255);
    padding: 5%;
    border-radius: 15px;
    height: 100%;
    /* box-shadow: 0px 1px 8px rgb(96, 93, 90); */
    box-shadow: 0px 1px 7px rgb(193, 192, 190);

    border-bottom: 4px solid var(--pink);

}

.admin-home-text{
    padding-top: 1%;
}


.current-number{
    padding: 1%;
    
}